.AdminPage{
    align-items: center;
}

.AdminPage .h2 {
    text-align: center;
}

.AdminPage .button {
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.AdminPage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-icon {
    font-size: 24px;
    cursor: pointer;
    color: #1890ff; /* Example color, adjust as needed */
}