.payment-history-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.payment-history-container h3 {
    color: #333;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.ant-card-body {
    padding: 16px;
}

.ant-table-wrapper {
    overflow-x: auto;
}

.ant-table {
    width: 100%;
    table-layout: fixed; /* Ensures that the table fits within the card */
}

.ant-table th, .ant-table td {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Ensures content does not overflow */
    text-overflow: ellipsis; /* Adds ellipsis for overflowed content */
}
