.menu-container {
    display: flex;
    justify-content: center;
    margin-left: 220px;
}

.menu-container button {
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    box-shadow: 2px 1px 5px silver;
    font-weight: 500;
}

.menu-container button:hover {
    background-color: #f0f0f0;
}

.ant-dropdown-menu {
    font-family: 'Kanit', sans-serif;
}