.bank-container {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 5px 1px 10px #ccc;
    font-family: "Kanit", sans-serif;
}

.bank-container .AppMenu201{
    left: 120px;
}

.bank-container .Space{
    width: 100%;
}

.bank-container .card{
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    width: 270px;
}

.bank-container .scb {
    border-radius: 5px;
    padding: 5px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    font-size: 16px;
    padding-left: 10px;
}

.bank-container .scb1{
    border-radius: 5px;
    padding: 5px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    font-size: 16px;
    padding-left: 10px;
    color: #ff4d4f;
}

.bank-container .bum {
    border-radius: 5px;
    padding: 5px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    font-size: 16px;
    padding-left: 10px;
}

.bank-container .logo-image{
    width: 50px;
}

.bank-container button {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
}

.image-preview {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.remove-image-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    color: #ff4d4f;
    cursor: pointer;
}

.remove-image-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.upload-button {
    border: 1px solid #00bd09;
    color: #00bd09;
}

.image-preview-img {
    max-width: 100%;
    max-height: 200px;
}

.file-input{
    display: none;
}

.submit-button {
    background-color: #007504; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 20px; /* Add some padding */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease;
    width: 100%;
}

.submit-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.submit-button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(72, 191, 255, 0.5); /* Custom focus outline */
}

.submit-button:disabled {
    background-color: #d0d0d0; /* Gray background when disabled */
    color: #a0a0a0; /* Gray text when disabled */
    cursor: not-allowed; /* Not-allowed cursor when disabled */
}

.history-button {
    color: rgb(255, 166, 0); /* สีตัวอักษรขาว */
    border: none; /* ไม่มีขอบ */
    border-radius: 20px; /* มุมโค้ง */
    padding: 10px 20px; /* ขนาดของ padding */
    font-size: 16px; /* ขนาดตัวอักษร */
    cursor: pointer; /* ลูกศรชี้เมื่อวางเมาส์ */
    transition: background-color 0.3s ease; /* การเปลี่ยนสีพื้นหลังแบบนุ่มนวล */
    left: 120px;
    border: 1px solid rgb(255, 166, 0);
    font-weight: 500;
}

.history-button:hover {
    background-color: #0056b3; /* สีพื้นหลังที่เข้มขึ้นเมื่อวางเมาส์ */
}

.history-button:focus {
    outline: none; /* ลบเส้นขอบเมื่อโฟกัส */
    box-shadow: 0 0 0 2px rgba(72, 191, 255, 0.5); /* เงาของปุ่มเมื่อโฟกัส */
}

.history-button:disabled {
    background-color: #d0d0d0; /* สีพื้นหลังสีเทาเมื่อปิดใช้งาน */
    color: #a0a0a0; /* สีตัวอักษรสีเทาเมื่อปิดใช้งาน */
    cursor: not-allowed; /* ลูกศรที่ห้ามใช้งาน */
}