.room-info-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.room-info-container h3 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
}

.menu-container {
    margin-bottom: 20px;
}

table {
    transform: translateY(-20px);
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    color: #333;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.status-button {
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: not-allowed;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-paid {
    background-color: #4caf50;
    color: #fff;
}

.status-unpaid {
    background-color: #ff9800;
    color: #fff;
}

.status-button svg {
    margin-right: 5px;
}
