.room-info-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-30px);
    overflow: auto;
}

.room-info-container h3 {
    font-weight: normal;
    padding-bottom: 30px;
}

.room-info-container table {
    width: 100%;
    border-collapse: collapse;
}

.room-info-container th, td {
    border: 1px solid #ddd;
    width: 0 auto;
    text-align: center;
}

.room-info-container .status-button {
    border: none;
    padding: 8px 16px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border-radius: 15px;
    font-family: "Kanit", sans-serif;
}

.room-info-container .status-paid {
    background-color: green;
}

.room-info-container .status-unpaid {
    background-color: red;
}

.room-info-container .menu-container {
    display: grid;
    justify-content: right;
    align-items: center;
    transform: translateY(-40px);
    font-family: "Kanit", sans-serif;
}
